.logout-root  {
 background-color: #F8F8F8 !important;
 position: absolute;
 top: 0px;
 height: 9%;
 padding: 10px;
}

.logout-btn {
 background-color: #F8F8F8 !important;
 width: 30%;
 padding: 5px 0 !important;
 margin-left: 70% !important;
 margin-top: 0.5% !important;
 color: #FF7545;
}